<!-- Navigation bar (Need help?Logo//Menu) -->
<header class="navbar">
  <div class="help"> <!-- Help link -->
      <a href="help.html">Need help?</a>
  </div>

  <!-- Plane logo -->
  <div class="logo">
      <img class="plane" src="../assets/plane.png" >  <!-- Logo picture -->
  </div>
  <!-- Plane logo END -->

  <!-- Menu -->
  <div class="menu">
      <!-- Menu taken from w3schools (link: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp) -->
      <div id="myNav" class="overlay">
          <!-- Button to close the overlay navigation -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <!-- Overlay content -->
          <div class="overlay-content">
              <a href="#">HISTORY</a>
              <a href="#">STATUS</a>
              <a href="#">ABOUT</a>
              <a href="#">TERMS OF USE</a>
          </div>
      </div>
      <!-- Use any element to open/show the overlay navigation menu -->
      <span onclick="openNav()"><img class="menulogo" src="../assets/menu.png"></span>
  </div>
  <!-- Menu END -->

</header>
<!-- Navigation bar (Need help?/Logo/Menu) END -->